ion-card{
    box-shadow: none;
}

img {
    width: 100% !important;
}

ion-button {
    --background: var( --ion-jama-background-color )
}

small.ion-text-left {
    margin-right: auto;
}